@import './utils/variables';
@import './utils/mixins';
@import './utils/reset';
@import './utils/section';
@import './components/button';
@import './components/header';
@import './components/navbar';
@import './components/about-us';
@import './components/now-on-view';
@import './components/explore-online';
@import './components/contact-us';
@import './components/form';
@import './components/footer';

