body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  font-family: $base-font;
  font-weight: $base-weight;
  font-size: $base-font-size;
  color: $base-color;
  scroll-behavior: smooth;
}
