.block-scrolling {
  overflow: hidden;
}

.section {
  max-width: $content-max-width;
  margin: auto;
  margin-top: 100px;
  padding-inline: 20px;

  @include on-tablet {
    margin-top: 140px;
  }
}
